Repository BlackBoyZeus/cosmos-o911xs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cosmos-admins, @backend-team, @ml-team, @security-team, @safety-team, @performance-team, @frontend-team, @devops-team, @qa-team

.github/CODEOWNERS:

* @cosmos-admins

# Backend and ML infrastructure
src/backend/** @backend-team @ml-team

# ML model implementations (diffusion and autoregressive)
src/backend/src/core/models/** @ml-team
# Security review required for model changes
src/backend/src/core/models/** @security-team

# Safety systems (pre-guard and post-guard)
src/backend/src/core/safety/** @safety-team @ml-team
# Security review required for safety components
src/backend/src/core/safety/** @security-team

# Tokenizer implementations
src/backend/src/core/tokenizers/** @ml-team
# Performance review required for core components
src/backend/src/core/tokenizers/** @performance-team

# Web frontend components
src/web/** @frontend-team

# Infrastructure configurations
infrastructure/** @devops-team

# CI/CD workflows
.github/workflows/** @devops-team

# Test suites
src/test/** @qa-team

# Performance review required for all core backend components
src/backend/src/core/** @performance-team

# Documentation
docs/** @cosmos-admins @ml-team

# Security configurations
.github/security/** @security-team
config/security/** @security-team

# Database schemas and migrations
src/backend/src/db/** @backend-team @devops-team

# API specifications
src/backend/api/** @backend-team @ml-team

# Monitoring and observability
src/monitoring/** @devops-team @backend-team

# GPU and distributed training configs
src/backend/src/core/distributed/** @ml-team @performance-team

# Data pipeline components
src/backend/src/core/pipeline/** @ml-team @backend-team

# Environment configurations
.env* @devops-team @cosmos-admins
config/*.yaml @devops-team @cosmos-admins

# Dependencies and package management
package.json @devops-team @backend-team
requirements.txt @devops-team @backend-team
poetry.lock @devops-team @backend-team

# Build configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team

Add public-samples/cosmos-o911xs/src/test/unit/safety/SafetyClassifier.test.ts
  src/test/unit/safety/SafetyClassifier.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/services/DatasetService.test.ts
  src/test/unit/services/DatasetService.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/services/GenerationService.test.ts
  src/test/unit/services/GenerationService.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/services/ModelService.test.ts
  src/test/unit/services/ModelService.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/services/StorageService.test.ts
  src/test/unit/services/StorageService.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/services/TokenizerService.test.ts
  src/test/unit/services/TokenizerService.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/tokenizers/ContinuousTokenizer.test.ts
  src/test/unit/tokenizers/ContinuousTokenizer.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/tokenizers/DiscreteTokenizer.test.ts
  src/test/unit/tokenizers/DiscreteTokenizer.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/tokenizers/TokenizerConfig.test.ts
  src/test/unit/tokenizers/TokenizerConfig.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/workers/DataCurationWorker.test.ts
  src/test/unit/workers/DataCurationWorker.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/workers/GenerationWorker.test.ts
  src/test/unit/workers/GenerationWorker.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/unit/workers/TrainingWorker.test.ts
  src/test/unit/workers/TrainingWorker.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/utils/databaseMock.ts
  src/test/utils/databaseMock.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/utils/gpuMock.ts
  src/test/utils/gpuMock.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/utils/mockData.ts
  src/test/utils/mockData.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/utils/storageMock.ts
  src/test/utils/storageMock.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/utils/testHelpers.ts
  src/test/utils/testHelpers.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/.env.example
  src/web/.env.example
Owners: @devops-team, @cosmos-admins

Add public-samples/cosmos-o911xs/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/Dockerfile
  src/web/Dockerfile
Owners: @devops-team

Add public-samples/cosmos-o911xs/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @devops-team

Add public-samples/cosmos-o911xs/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/package.json
  src/web/package.json
Owners: @devops-team, @backend-team

Add public-samples/cosmos-o911xs/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/assets/fonts/inter.ttf
  src/web/src/assets/fonts/inter.ttf
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/assets/icons/favicon.ico
  src/web/src/assets/icons/favicon.ico
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/assets/icons/logo.svg
  src/web/src/assets/icons/logo.svg
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/assets/styles/global.css
  src/web/src/assets/styles/global.css
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/assets/styles/theme.ts
  src/web/src/assets/styles/theme.ts
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/components/auth/ProtectedRoute.tsx
  src/web/src/components/auth/ProtectedRoute.tsx
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team

Add public-samples/cosmos-o911xs/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team
