Repository BlackBoyZeus/cosmos-o911xs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cosmos-admins, @backend-team, @ml-team, @security-team, @safety-team, @performance-team, @frontend-team, @devops-team, @qa-team

Add public-samples/cosmos-o911xs/src/backend/src/db/migrations/00001_initial_schema.ts
  src/backend/src/db/migrations/00001_initial_schema.ts
Owners: @backend-team, @devops-team

Add public-samples/cosmos-o911xs/src/backend/src/db/migrations/00002_add_model_metadata.ts
  src/backend/src/db/migrations/00002_add_model_metadata.ts
Owners: @backend-team, @devops-team

Add public-samples/cosmos-o911xs/src/backend/src/db/migrations/00003_add_safety_logs.ts
  src/backend/src/db/migrations/00003_add_safety_logs.ts
Owners: @backend-team, @devops-team

Add public-samples/cosmos-o911xs/src/backend/src/db/models/Dataset.ts
  src/backend/src/db/models/Dataset.ts
Owners: @backend-team, @devops-team

Add public-samples/cosmos-o911xs/src/backend/src/db/models/Generation.ts
  src/backend/src/db/models/Generation.ts
Owners: @backend-team, @devops-team

Add public-samples/cosmos-o911xs/src/backend/src/db/models/Model.ts
  src/backend/src/db/models/Model.ts
Owners: @backend-team, @devops-team

Add public-samples/cosmos-o911xs/src/backend/src/db/models/SafetyLog.ts
  src/backend/src/db/models/SafetyLog.ts
Owners: @backend-team, @devops-team

Add public-samples/cosmos-o911xs/src/backend/src/db/models/Video.ts
  src/backend/src/db/models/Video.ts
Owners: @backend-team, @devops-team

Add public-samples/cosmos-o911xs/src/backend/src/interfaces/IDataset.ts
  src/backend/src/interfaces/IDataset.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/interfaces/IGeneration.ts
  src/backend/src/interfaces/IGeneration.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/interfaces/IModel.ts
  src/backend/src/interfaces/IModel.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/interfaces/ISafetyLog.ts
  src/backend/src/interfaces/ISafetyLog.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/interfaces/IVideo.ts
  src/backend/src/interfaces/IVideo.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/services/DatasetService.ts
  src/backend/src/services/DatasetService.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/services/GenerationService.ts
  src/backend/src/services/GenerationService.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/services/ModelService.ts
  src/backend/src/services/ModelService.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/services/StorageService.ts
  src/backend/src/services/StorageService.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/services/TokenizerService.ts
  src/backend/src/services/TokenizerService.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/types/common.ts
  src/backend/src/types/common.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/types/config.ts
  src/backend/src/types/config.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/types/models.ts
  src/backend/src/types/models.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/types/safety.ts
  src/backend/src/types/safety.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/types/tokenizer.ts
  src/backend/src/types/tokenizer.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/utils/gpu.ts
  src/backend/src/utils/gpu.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/utils/metrics.ts
  src/backend/src/utils/metrics.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/utils/storage.ts
  src/backend/src/utils/storage.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/utils/validation.ts
  src/backend/src/utils/validation.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/workers/DataCurationWorker.ts
  src/backend/src/workers/DataCurationWorker.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/workers/GenerationWorker.ts
  src/backend/src/workers/GenerationWorker.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/src/workers/TrainingWorker.ts
  src/backend/src/workers/TrainingWorker.ts
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/test/.env.test
  src/test/.env.test
Owners: @devops-team, @cosmos-admins

Add public-samples/cosmos-o911xs/src/test/README.md
  src/test/README.md
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/docker-compose.test.yml
  src/test/docker-compose.test.yml
Owners: @devops-team

Add public-samples/cosmos-o911xs/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/package.json
  src/test/package.json
Owners: @devops-team, @backend-team

Add public-samples/cosmos-o911xs/src/test/setup.ts
  src/test/setup.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/e2e/scenarios/dataPipeline.test.ts
  src/test/e2e/scenarios/dataPipeline.test.ts
Owners: @qa-team

Add public-samples/cosmos-o911xs/src/test/e2e/scenarios/modelTraining.test.ts
  src/test/e2e/scenarios/modelTraining.test.ts
Owners: @qa-team

.github/CODEOWNERS:

* @cosmos-admins

# Backend and ML infrastructure
src/backend/** @backend-team @ml-team

# ML model implementations (diffusion and autoregressive)
src/backend/src/core/models/** @ml-team
# Security review required for model changes
src/backend/src/core/models/** @security-team

# Safety systems (pre-guard and post-guard)
src/backend/src/core/safety/** @safety-team @ml-team
# Security review required for safety components
src/backend/src/core/safety/** @security-team

# Tokenizer implementations
src/backend/src/core/tokenizers/** @ml-team
# Performance review required for core components
src/backend/src/core/tokenizers/** @performance-team

# Web frontend components
src/web/** @frontend-team

# Infrastructure configurations
infrastructure/** @devops-team

# CI/CD workflows
.github/workflows/** @devops-team

# Test suites
src/test/** @qa-team

# Performance review required for all core backend components
src/backend/src/core/** @performance-team

# Documentation
docs/** @cosmos-admins @ml-team

# Security configurations
.github/security/** @security-team
config/security/** @security-team

# Database schemas and migrations
src/backend/src/db/** @backend-team @devops-team

# API specifications
src/backend/api/** @backend-team @ml-team

# Monitoring and observability
src/monitoring/** @devops-team @backend-team

# GPU and distributed training configs
src/backend/src/core/distributed/** @ml-team @performance-team

# Data pipeline components
src/backend/src/core/pipeline/** @ml-team @backend-team

# Environment configurations
.env* @devops-team @cosmos-admins
config/*.yaml @devops-team @cosmos-admins

# Dependencies and package management
package.json @devops-team @backend-team
requirements.txt @devops-team @backend-team
poetry.lock @devops-team @backend-team

# Build configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team
