Repository BlackBoyZeus/cosmos-o911xs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cosmos-admins, @backend-team, @ml-team, @security-team, @safety-team, @performance-team, @frontend-team, @devops-team, @qa-team

Add public-samples/cosmos-o911xs/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/kubernetes/web/configmap.yaml
  infrastructure/kubernetes/web/configmap.yaml
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/kubernetes/web/deployment.yaml
  infrastructure/kubernetes/web/deployment.yaml
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/kubernetes/web/hpa.yaml
  infrastructure/kubernetes/web/hpa.yaml
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/kubernetes/web/secrets.yaml
  infrastructure/kubernetes/web/secrets.yaml
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/kubernetes/web/service.yaml
  infrastructure/kubernetes/web/service.yaml
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/modules/compute/main.tf
  infrastructure/terraform/aws/modules/compute/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/modules/compute/variables.tf
  infrastructure/terraform/aws/modules/compute/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/modules/database/main.tf
  infrastructure/terraform/aws/modules/database/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/modules/database/variables.tf
  infrastructure/terraform/aws/modules/database/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/modules/storage/main.tf
  infrastructure/terraform/aws/modules/storage/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/aws/modules/storage/variables.tf
  infrastructure/terraform/aws/modules/storage/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/main.tf
  infrastructure/terraform/azure/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/outputs.tf
  infrastructure/terraform/azure/outputs.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/variables.tf
  infrastructure/terraform/azure/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/modules/compute/main.tf
  infrastructure/terraform/azure/modules/compute/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/modules/compute/variables.tf
  infrastructure/terraform/azure/modules/compute/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/modules/database/main.tf
  infrastructure/terraform/azure/modules/database/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/modules/database/variables.tf
  infrastructure/terraform/azure/modules/database/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/modules/storage/main.tf
  infrastructure/terraform/azure/modules/storage/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/azure/modules/storage/variables.tf
  infrastructure/terraform/azure/modules/storage/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/main.tf
  infrastructure/terraform/gcp/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/outputs.tf
  infrastructure/terraform/gcp/outputs.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/variables.tf
  infrastructure/terraform/gcp/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/modules/compute/main.tf
  infrastructure/terraform/gcp/modules/compute/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/modules/compute/variables.tf
  infrastructure/terraform/gcp/modules/compute/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/modules/database/main.tf
  infrastructure/terraform/gcp/modules/database/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/modules/database/variables.tf
  infrastructure/terraform/gcp/modules/database/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/modules/storage/main.tf
  infrastructure/terraform/gcp/modules/storage/main.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/infrastructure/terraform/gcp/modules/storage/variables.tf
  infrastructure/terraform/gcp/modules/storage/variables.tf
Owners: @devops-team

Add public-samples/cosmos-o911xs/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/.env.example
  src/backend/.env.example
Owners: @devops-team, @cosmos-admins

Add public-samples/cosmos-o911xs/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team

Add public-samples/cosmos-o911xs/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @ml-team

Add public-samples/cosmos-o911xs/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team

Add public-samples/cosmos-o911xs/src/backend/package.json
  src/backend/package.json
Owners: @devops-team, @backend-team

Add public-samples/cosmos-o911xs/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @ml-team

.github/CODEOWNERS:

* @cosmos-admins

# Backend and ML infrastructure
src/backend/** @backend-team @ml-team

# ML model implementations (diffusion and autoregressive)
src/backend/src/core/models/** @ml-team
# Security review required for model changes
src/backend/src/core/models/** @security-team

# Safety systems (pre-guard and post-guard)
src/backend/src/core/safety/** @safety-team @ml-team
# Security review required for safety components
src/backend/src/core/safety/** @security-team

# Tokenizer implementations
src/backend/src/core/tokenizers/** @ml-team
# Performance review required for core components
src/backend/src/core/tokenizers/** @performance-team

# Web frontend components
src/web/** @frontend-team

# Infrastructure configurations
infrastructure/** @devops-team

# CI/CD workflows
.github/workflows/** @devops-team

# Test suites
src/test/** @qa-team

# Performance review required for all core backend components
src/backend/src/core/** @performance-team

# Documentation
docs/** @cosmos-admins @ml-team

# Security configurations
.github/security/** @security-team
config/security/** @security-team

# Database schemas and migrations
src/backend/src/db/** @backend-team @devops-team

# API specifications
src/backend/api/** @backend-team @ml-team

# Monitoring and observability
src/monitoring/** @devops-team @backend-team

# GPU and distributed training configs
src/backend/src/core/distributed/** @ml-team @performance-team

# Data pipeline components
src/backend/src/core/pipeline/** @ml-team @backend-team

# Environment configurations
.env* @devops-team @cosmos-admins
config/*.yaml @devops-team @cosmos-admins

# Dependencies and package management
package.json @devops-team @backend-team
requirements.txt @devops-team @backend-team
poetry.lock @devops-team @backend-team

# Build configurations
Dockerfile* @devops-team
docker-compose*.yml @devops-team
